@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700&subset=cyrillic')
*
  margin: 0
  padding 0
  box-sizing border-box


$text = #8492a6
$header = #3c4858
$blue = #1fb6ff
$green = #13ce66


// @import 'mixin'
@import 'tipograf'
// @import 'el'
@import 'form'


a
  color $blue
  text-decoration: none
  transition: color .3s
  &.circle
    padding: .7em 1.4em
    border: 2px solid $blue
    border-radius: 3em
    transition: all .3s
    &:hover
      color #FFF
      background: $blue
    

b, strong //, button, .btn
  font-weight: 600
  -webkit-font-smoothing: auto
  -moz-osx-font-smoothing: auto




max(bp)
  @media all and (max-width: bp)
    {block}
min(bp)
  @media all and (min-width: bp)
    {block}
between(bp1, bp2)
  @media all and (min-width: bp1) and (max-width: bp2)
    {block}


body

  //line-height: 1.5em
  //font-family: 'Open Sans', 'Helvetica Neue',helvetica,arial,sans-serif
  font 100%/1.4 'Open Sans', 'Helvetica Neue',helvetica,arial,sans-serif
  color $text

  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

  +min(540px)
    padding 0 7% //7vw //5em
    font-size calc(50% + .5vw + .4vh)




.WrC
  max-width: 1024px
  margin: auto


.flex, .flex_sb, .flex_wr, .flex_col
  display flex
.flex_sb
  justify-content space-between
.flex_wr
  flex-wrap wrap
  //justify-content center
.flex_col
  flex-direction column