

h1,h2,h3,h4,h5,p
  margin-bottom .75em
h1,h2,h3,h4
  line-height 1.2

h1,h2
  color $header
  font-weight: 400


table
  border-collapse collapse
  border-spacing 0

img
  display inline-block
  //max-width 100%