*:focus
  outline 0

hr
  margin: 3em
  height: 1px;
  border: none;
  border-top: 1px solid #EEE;


h1,h2,h3,h4,h5,p
  margin-bottom .75em
.H1,h1,h2,h3,h4
  line-height 1.2

h1,h2
  color $header
  font-weight: 400


table
  border-collapse collapse
  border-spacing 0

  margin 2em 0
  width: 100%
  color $header
th
  background: $blue
  color #FFF
  text-align left
th, td
  padding: 0 .7em
tr
  line-height: 2em

.tbl_row
  tr
    &:nth-child(odd)
      background: #EEE
.tbl_simple
  tr
    border-bottom 1px solid #EEE



img
  display inline-block
  max-width 100%

// b, strong //, button, .btn
//   font-weight: 700
//   -webkit-font-smoothing: auto
//   -moz-osx-font-smoothing: auto