#footer
  //margin 3em 0
  //background: #273444
  //background-image: linear-gradient( 135deg, #FFCF71 10%, #2376DD 100%);
  background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
  padding: 3em 0

  color #EEE

  .flex_sb > *
    // padding: 1em 2em
    flex 1
    & + *
      padding-left: 3em

  h2, h3, h4
    font-weight normal
    color #FFF

  //form
  // input, textarea
  //   border: 1px solid $green


  nav, .nav
    margin 2em 1em
    a
      //color #AAA //$text
      //text-decoration: $header underline

      display: block
      //line-height 2em
      &:hover
        color #FFF





.Socials-set
  a
    white-space nowrap
    &:hover .icon
      //background: $header + 20
      //background: $text
      background: rgba(#000 .45)
  .icon
    border-radius 3px
    vertical-align: middle;
    width: 16px
    height 16px
    padding: 10px
    box-sizing: content-box
    margin 4px
    fill: #FFF
    background: rgba(#EEE .2)//$header
