#iChatTel
  margin-left: 2em

  //314x640
  width: 314px
  height: 640px
  background url('~assets/img/iphone6plus.png') no-repeat
  position: relative

  .screen
    border: 2px solid #CCC
    border-radius: 4px
    position: absolute
    top: 72px;
    left: 23px;
    height: 495px;
    width: 268px;

    background: #FFF
    font-size: 14px
    line-height 1.4
    //font-weight: 600
    -moz-osx-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;


    overflow: scroll



    & > *
      margin: 1em 1em 0
      border-radius: 1em
      background: #CCC
      padding: .7em 1em
      

    .from
      float left
      background: #E5E4E9
      color: #363636
    .to
      float right
      background: #2095FE
      color: #FFF
      margin-left: 2em 
